# core LaTeX
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

Makefile
creationdate.lua
*.xmpdata
pdfa.xmpi

# SyncTeX & latexmk
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

# BibTeX
*.bbl
*.blg

*.tdo

.vscode
materials